*{
    margin:0px;
    padding:0px;
}
htm,body {
    height: 100%;
    background-color: #1ee28f;
    font-family: lft-etica,sans-serif;
}
h1{
    font-size:40px;
}
#langBox{
    float: right;
    margin-right: 30px;
    margin-top:-50px;
    z-index: 10;
}
img{
    width: 30px;
    margin-right: 10px;
    transition:all ease-in-out .5s;
}
img:hover{
    transform: scale(1.2);

}
#texTitle{
    margin-top:20px;
    text-align: center;
}
#textPart{
    width: 800px;
    color: #323336;
    margin:40px auto;
    font-size:25px;
    line-height:35px;
    word-wrap:break-word;
}
.chineseText{
    font-family: arial,'Microsoft Yahei','微软雅黑';
}
.englishText{
    font-family: lft-etica,sans-serif;

}
@media screen and(max-width: 400px) {
    img{
        width: 40px;
    }

}
